In [1]:
# Import dependencies
import pandas as pd
import numpy as np

# Code sourced from stackoverflow.com to prevent error in datatype change
pd.options.mode.chained_assignment = None  # default='warn'

In [2]:
# Load file
results_to_load = "Resources/results.csv"

In [3]:
# Read the csv into a dataframe
results = pd.read_csv(results_to_load)
results

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0.0,0.0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4.0,2.0,Friendly,London,England,False
2,1874-03-07,Scotland,England,2.0,1.0,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2.0,2.0,Friendly,London,England,False
4,1876-03-04,Scotland,England,3.0,0.0,Friendly,Glasgow,Scotland,False
...,...,...,...,...,...,...,...,...,...
44055,2022-09-27,Norway,Serbia,0.0,2.0,UEFA Nations League,Oslo,Norway,False
44056,2022-09-27,Sweden,Slovenia,1.0,1.0,UEFA Nations League,Stockholm,Sweden,False
44057,2022-09-27,Kosovo,Cyprus,5.0,1.0,UEFA Nations League,Pristina,Kosovo,False
44058,2022-09-27,Greece,Northern Ireland,3.0,1.0,UEFA Nations League,Athens,Greece,False
44059,2022-09-30,Fiji,Solomon Islands,NaN,NaN,MSG Prime Minister's Cup,Luganville,Vanuatu,True

In [4]:
# Check datatypes 
results.dtypes

date           object
home_team      object
away_team      object
home_score    float64
away_score    float64
tournament     object
city           object
country        object
neutral          bool
dtype: object

In [5]:
# Count number of NaNs in df
count_nan_in_df = results.isnull().sum()
print (count_nan_in_df)

date          0
home_team     0
away_team     0
home_score    1
away_score    1
tournament    0
city          0
country       0
neutral       0
dtype: int64

In [6]:
# drop any rows containing NaNs
clean_results=results.dropna(how='any')

In [7]:
# Change datatype of score columns to display as single figures
clean_results['home_score'] = clean_results['home_score'].astype(int)
clean_results['away_score'] = clean_results['away_score'].astype(int)
clean_results

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False
...,...,...,...,...,...,...,...,...,...
44054,2022-09-27,Albania,Iceland,1,1,UEFA Nations League,Tirana,Albania,False
44055,2022-09-27,Norway,Serbia,0,2,UEFA Nations League,Oslo,Norway,False
44056,2022-09-27,Sweden,Slovenia,1,1,UEFA Nations League,Stockholm,Sweden,False
44057,2022-09-27,Kosovo,Cyprus,5,1,UEFA Nations League,Pristina,Kosovo,False
44058,2022-09-27,Greece,Northern Ireland,3,1,UEFA Nations League,Athens,Greece,False

In [8]:
# Filter dataframe to show only home games involving Scotland
home_results = clean_results.loc[clean_results.home_team == 'Scotland']
home_results

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False
5,1876-03-25,Scotland,Wales,4,0,Friendly,Glasgow,Scotland,False
8,1878-03-02,Scotland,England,7,2,Friendly,Glasgow,Scotland,False
...,...,...,...,...,...,...,...,...,...
43480,2022-03-24,Scotland,Poland,1,1,Friendly,Glasgow,Scotland,False
43628,2022-06-01,Scotland,Ukraine,1,3,FIFA World Cup qualification,Glasgow,Scotland,False
43780,2022-06-08,Scotland,Armenia,2,0,UEFA Nations League,Glasgow,Scotland,False
43927,2022-09-21,Scotland,Ukraine,3,0,UEFA Nations League,Glasgow,Scotland,False
43988,2022-09-24,Scotland,Republic of Ireland,2,1,UEFA Nations League,Glasgow,Scotland,False

In [9]:
# Filter dataframe to show only away games involving Scotland
away_results = clean_results.loc[clean_results.away_team == 'Scotland']
away_results

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
6,1877-03-03,England,Scotland,1,3,Friendly,London,England,False
7,1877-03-05,Wales,Scotland,0,2,Friendly,Wrexham,Wales,False
11,1879-04-05,England,Scotland,5,4,Friendly,London,England,False
...,...,...,...,...,...,...,...,...,...
43181,2021-11-12,Moldova,Scotland,0,2,FIFA World Cup qualification,ChiÈ™inÄƒu,Moldova,False
43565,2022-03-29,Austria,Scotland,2,2,Friendly,Vienna,Austria,False
43845,2022-06-11,Republic of Ireland,Scotland,3,0,UEFA Nations League,Dublin,Republic of Ireland,False
43905,2022-06-14,Armenia,Scotland,1,4,UEFA Nations League,Yerevan,Armenia,False
44053,2022-09-27,Ukraine,Scotland,0,0,UEFA Nations League,KrakÃ³w,Poland,True

In [10]:
# Create variable to merge home and away scores
total_results = [home_results, away_results]

In [11]:
# Merge two dataframes
scotland_results = pd.concat(total_results)
scotland_results.head(30)

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False
5,1876-03-25,Scotland,Wales,4,0,Friendly,Glasgow,Scotland,False
8,1878-03-02,Scotland,England,7,2,Friendly,Glasgow,Scotland,False
9,1878-03-23,Scotland,Wales,9,0,Friendly,Glasgow,Scotland,False
13,1880-03-13,Scotland,England,5,4,Friendly,Glasgow,Scotland,False
15,1880-03-27,Scotland,Wales,5,1,Friendly,Glasgow,Scotland,False
21,1882-03-11,Scotland,England,5,1,Friendly,Glasgow,Scotland,False
23,1882-03-25,Scotland,Wales,5,0,Friendly,Glasgow,Scotland,False
32,1884-03-15,Scotland,England,1,0,British Championship,Glasgow,Scotland,False
34,1884-03-29,Scotland,Wales,4,1,British Championship,Glasgow,Scotland,False
37,1885-03-14,Scotland,Northern Ireland,8,2,British Championship,Glasgow,Scotland,False
45,1886-03-27,Scotland,England,1,1,British Championship,Glasgow,Scotland,False
47,1886-04-10,Scotland,Wales,4,1,British Championship,Glasgow,Scotland,False
50,1887-02-19,Scotland,Northern Ireland,4,1,British Championship,Glasgow,Scotland,False
57,1888-03-10,Scotland,Wales,5,1,British Championship,Edinburgh,Scotland,False
58,1888-03-17,Scotland,England,0,5,British Championship,Glasgow,Scotland,False
61,1888-09-19,Scotland,Canada,4,0,Friendly,Glasgow,Scotland,False
64,1889-03-09,Scotland,Northern Ireland,7,0,British Championship,Glasgow,Scotland,False
71,1890-03-22,Scotland,Wales,5,0,British Championship,Paisley,Scotland,False
73,1890-04-05,Scotland,England,1,1,British Championship,Glasgow,Scotland,False
78,1891-03-28,Scotland,Northern Ireland,2,1,British Championship,Glasgow,Scotland,False
84,1892-03-26,Scotland,Wales,6,1,British Championship,Edinburgh,Scotland,False
85,1892-04-02,Scotland,England,1,4,British Championship,Glasgow,Scotland,False
89,1893-03-25,Scotland,Northern Ireland,6,1,British Championship,Glasgow,Scotland,False
94,1894-03-24,Scotland,Wales,5,2,British Championship,Kilmarnock,Scotland,False
96,1894-04-07,Scotland,England,2,2,British Championship,Glasgow,Scotland,False
101,1895-03-30,Scotland,Northern Ireland,3,1,British Championship,Glasgow,Scotland,False
106,1896-03-21,Scotland,Wales,4,0,British Championship,Dundee,Scotland,False

In [12]:
# New merged dataframe sorted by date
scotland_games = scotland_results.sort_values(by=['date'])
scotland_games

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False
...,...,...,...,...,...,...,...,...,...
43845,2022-06-11,Republic of Ireland,Scotland,3,0,UEFA Nations League,Dublin,Republic of Ireland,False
43905,2022-06-14,Armenia,Scotland,1,4,UEFA Nations League,Yerevan,Armenia,False
43927,2022-09-21,Scotland,Ukraine,3,0,UEFA Nations League,Glasgow,Scotland,False
43988,2022-09-24,Scotland,Republic of Ireland,2,1,UEFA Nations League,Glasgow,Scotland,False
44053,2022-09-27,Ukraine,Scotland,0,0,UEFA Nations League,KrakÃ³w,Poland,True

In [13]:
# Check statistics to find highest scoring game
scotland_games.describe()

       home_score  away_score
count  813.000000  813.000000
mean     1.670357    1.268143
std      1.551916    1.391187
min      0.000000    0.000000
25%      1.000000    0.000000
50%      1.000000    1.000000
75%      2.000000    2.000000
max     11.000000   10.000000

In [14]:
# Filter df to show high scoring games
scotland_games[(scotland_games['home_score'] >= 7) | (scotland_games['away_score'] >= 7)]

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
8,1878-03-02,Scotland,England,7,2,Friendly,Glasgow,Scotland,False
9,1878-03-23,Scotland,Wales,9,0,Friendly,Glasgow,Scotland,False
37,1885-03-14,Scotland,Northern Ireland,8,2,British Championship,Glasgow,Scotland,False
39,1885-03-23,Wales,Scotland,1,8,British Championship,Wrexham,Wales,False
44,1886-03-20,Northern Ireland,Scotland,2,7,British Championship,Belfast,Ireland,False
59,1888-03-24,Northern Ireland,Scotland,2,10,British Championship,Belfast,Ireland,False
64,1889-03-09,Scotland,Northern Ireland,7,0,British Championship,Glasgow,Scotland,False
88,1893-03-18,Wales,Scotland,0,8,British Championship,Wrexham,Wales,False
125,1899-03-25,Scotland,Northern Ireland,9,1,British Championship,Glasgow,Scotland,False
133,1901-02-23,Scotland,Northern Ireland,11,0,British Championship,Glasgow,Scotland,False
1183,1929-02-23,Northern Ireland,Scotland,3,7,British Championship,Belfast,Northern Ireland,False
1211,1929-05-26,Norway,Scotland,3,7,Friendly,Bergen,Norway,False
3036,1949-10-01,Northern Ireland,Scotland,2,8,FIFA World Cup qualification,Belfast,Northern Ireland,False
3672,1954-06-19,Scotland,Uruguay,0,7,FIFA World Cup,Basel,Switzerland,True
3772,1955-04-02,England,Scotland,7,2,British Championship,London,England,False
4909,1961-04-15,England,Scotland,9,3,British Championship,London,England,False
7189,1969-05-17,Scotland,Cyprus,8,0,FIFA World Cup qualification,Glasgow,Scotland,False

In [15]:
# Change names of columns for plotting
scotland_games.rename(columns={'date': 'Date', 
                           'home_team': 'Home Team', 
                           'away_team': 'Away Team',
                           'home_score': 'Home Score',
                           'away_score': 'Away Score',
                           'tournament': 'Tournament',
                           'city': 'City',
                           'country': 'Country',
                           'neutral': 'Neutral'}, inplace=True)

In [16]:
# Create new columns to make visualisations 
scotland_games['Outcome'] = scotland_games.apply(lambda x : 'H' if x['Home Score'] > x['Away Score'] 
                                         else ('A' if x['Home Score'] < x['Away Score'] else 'D'),
                                         axis=1)

scotland_games['Winning Team'] = scotland_games.apply(lambda x : x['Home Team'] if x['Home Score'] > x['Away Score'] 
                                              else (x['Away Team'] if x['Home Score'] < x['Away Score'] else np.nan),
                                              axis=1)

scotland_games['Losing Team'] = scotland_games.apply(lambda x : x['Away Team'] if x['Home Score'] > x['Away Score'] 
                                             else (x['Home Team'] if x['Home Score'] < x['Away Score'] else np.nan),
                                             axis=1)

scotland_games['Total Goals'] = scotland_games['Home Score'] + scotland_games['Away Score']
scotland_games['Year'] = pd.DatetimeIndex(scotland_games['Date']).year
scotland_games['Decade'] = scotland_games['Year'] - scotland_games['Year'] % 10
scotland_games['Month'] = pd.DatetimeIndex(scotland_games['Date']).month
scotland_games['Month Name'] = pd.DatetimeIndex(scotland_games['Date']).month_name()
scotland_games['Day of Week'] = pd.DatetimeIndex(scotland_games['Date']).day_name()

In [17]:
scotland_games

,Date,Home Team,Away Team,Home Score,Away Score,Tournament,City,Country,Neutral,Outcome,Winning Team,Losing Team,Total Goals,Year,Decade,Month,Month Name,Day of Week
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False,D,NaN,NaN,0,1872,1870,11,November,Saturday
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False,H,England,Scotland,6,1873,1870,3,March,Saturday
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False,H,Scotland,England,3,1874,1870,3,March,Saturday
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False,D,NaN,NaN,4,1875,1870,3,March,Saturday
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False,H,Scotland,England,3,1876,1870,3,March,Saturday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43845,2022-06-11,Republic of Ireland,Scotland,3,0,UEFA Nations League,Dublin,Republic of Ireland,False,H,Republic of Ireland,Scotland,3,2022,2020,6,June,Saturday
43905,2022-06-14,Armenia,Scotland,1,4,UEFA Nations League,Yerevan,Armenia,False,A,Scotland,Armenia,5,2022,2020,6,June,Tuesday
43927,2022-09-21,Scotland,Ukraine,3,0,UEFA Nations League,Glasgow,Scotland,False,H,Scotland,Ukraine,3,2022,2020,9,September,Wednesday
43988,2022-09-24,Scotland,Republic of Ireland,2,1,UEFA Nations League,Glasgow,Scotland,False,H,Scotland,Republic of Ireland,3,2022,2020,9,September,Saturday
44053,2022-09-27,Ukraine,Scotland,0,0,UEFA Nations League,KrakÃ³w,Poland,True,D,NaN,NaN,0,2022,2020,9,September,Tuesday

In [20]:
# Save dataframe to csv
scotland_games.to_csv('Resources/scotland_games.csv')

In [24]:
# Create dataframe for all games won
scotland_wins = scotland_games.loc[(scotland_games["Winning Team"] == "Scotland")]
scotland_wins

,Date,Home Team,Away Team,Home Score,Away Score,Tournament,City,Country,Neutral,Outcome,Winning Team,Losing Team,Total Goals,Year,Decade,Month,Month Name,Day of Week
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False,H,Scotland,England,3,1874,1870,3,March,Saturday
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False,H,Scotland,England,3,1876,1870,3,March,Saturday
5,1876-03-25,Scotland,Wales,4,0,Friendly,Glasgow,Scotland,False,H,Scotland,Wales,4,1876,1870,3,March,Saturday
6,1877-03-03,England,Scotland,1,3,Friendly,London,England,False,A,Scotland,England,4,1877,1870,3,March,Saturday
7,1877-03-05,Wales,Scotland,0,2,Friendly,Wrexham,Wales,False,A,Scotland,Wales,2,1877,1870,3,March,Monday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43232,2021-11-15,Scotland,Denmark,2,0,FIFA World Cup qualification,Glasgow,Scotland,False,H,Scotland,Denmark,2,2021,2020,11,November,Monday
43780,2022-06-08,Scotland,Armenia,2,0,UEFA Nations League,Glasgow,Scotland,False,H,Scotland,Armenia,2,2022,2020,6,June,Wednesday
43905,2022-06-14,Armenia,Scotland,1,4,UEFA Nations League,Yerevan,Armenia,False,A,Scotland,Armenia,5,2022,2020,6,June,Tuesday
43927,2022-09-21,Scotland,Ukraine,3,0,UEFA Nations League,Glasgow,Scotland,False,H,Scotland,Ukraine,3,2022,2020,9,September,Wednesday
43988,2022-09-24,Scotland,Republic of Ireland,2,1,UEFA Nations League,Glasgow,Scotland,False,H,Scotland,Republic of Ireland,3,2022,2020,9,September,Saturday

In [25]:
# Save dataframe to csv
scotland_wins.to_csv('Resources/scotland_wins.csv')

In [26]:
# Create dataframe for all games won
scotland_defeats = scotland_games.loc[(scotland_games["Losing Team"] == "Scotland")]
scotland_defeats

,Date,Home Team,Away Team,Home Score,Away Score,Tournament,City,Country,Neutral,Outcome,Winning Team,Losing Team,Total Goals,Year,Decade,Month,Month Name,Day of Week
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False,H,England,Scotland,6,1873,1870,3,March,Saturday
11,1879-04-05,England,Scotland,5,4,Friendly,London,England,False,H,England,Scotland,9,1879,1870,4,April,Saturday
58,1888-03-17,Scotland,England,0,5,British Championship,Glasgow,Scotland,False,A,England,Scotland,5,1888,1880,3,March,Saturday
79,1891-04-06,England,Scotland,2,1,British Championship,Blackburn,England,False,H,England,Scotland,3,1891,1890,4,April,Monday
85,1892-04-02,Scotland,England,1,4,British Championship,Glasgow,Scotland,False,A,England,Scotland,5,1892,1890,4,April,Saturday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42626,2021-06-14,Scotland,Czech Republic,0,2,UEFA Euro,Glasgow,Scotland,False,A,Czech Republic,Scotland,2,2021,2020,6,June,Monday
42681,2021-06-22,Scotland,Croatia,1,3,UEFA Euro,Glasgow,Scotland,False,A,Croatia,Scotland,4,2021,2020,6,June,Tuesday
42811,2021-09-01,Denmark,Scotland,2,0,FIFA World Cup qualification,Copenhagen,Denmark,False,H,Denmark,Scotland,2,2021,2020,9,September,Wednesday
43628,2022-06-01,Scotland,Ukraine,1,3,FIFA World Cup qualification,Glasgow,Scotland,False,A,Ukraine,Scotland,4,2022,2020,6,June,Wednesday
43845,2022-06-11,Republic of Ireland,Scotland,3,0,UEFA Nations League,Dublin,Republic of Ireland,False,H,Republic of Ireland,Scotland,3,2022,2020,6,June,Saturday

In [27]:
# Save Dataframe to csv
scotland_defeats.to_csv('Resources/scotland_defeats.csv')

In [35]:
# Create dataframe with only competitive results (no friendlies)
competitive_games = scotland_games.loc[(scotland_games["Tournament"] != "Friendly")]
competitive_games

,Date,Home Team,Away Team,Home Score,Away Score,Tournament,City,Country,Neutral,Outcome,Winning Team,Losing Team,Total Goals,Year,Decade,Month,Month Name,Day of Week
29,1884-01-26,Northern Ireland,Scotland,0,5,British Championship,Belfast,Ireland,False,A,Scotland,Northern Ireland,5,1884,1880,1,January,Saturday
32,1884-03-15,Scotland,England,1,0,British Championship,Glasgow,Scotland,False,H,Scotland,England,1,1884,1880,3,March,Saturday
34,1884-03-29,Scotland,Wales,4,1,British Championship,Glasgow,Scotland,False,H,Scotland,Wales,5,1884,1880,3,March,Saturday
37,1885-03-14,Scotland,Northern Ireland,8,2,British Championship,Glasgow,Scotland,False,H,Scotland,Northern Ireland,10,1885,1880,3,March,Saturday
38,1885-03-21,England,Scotland,1,1,British Championship,London,England,False,D,NaN,NaN,2,1885,1880,3,March,Saturday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43845,2022-06-11,Republic of Ireland,Scotland,3,0,UEFA Nations League,Dublin,Republic of Ireland,False,H,Republic of Ireland,Scotland,3,2022,2020,6,June,Saturday
43905,2022-06-14,Armenia,Scotland,1,4,UEFA Nations League,Yerevan,Armenia,False,A,Scotland,Armenia,5,2022,2020,6,June,Tuesday
43927,2022-09-21,Scotland,Ukraine,3,0,UEFA Nations League,Glasgow,Scotland,False,H,Scotland,Ukraine,3,2022,2020,9,September,Wednesday
43988,2022-09-24,Scotland,Republic of Ireland,2,1,UEFA Nations League,Glasgow,Scotland,False,H,Scotland,Republic of Ireland,3,2022,2020,9,September,Saturday
44053,2022-09-27,Ukraine,Scotland,0,0,UEFA Nations League,KrakÃ³w,Poland,True,D,NaN,NaN,0,2022,2020,9,September,Tuesday

In [ ]:
# Save dataframe to csv
competitive_games.to_csv