In [26]:
# Import dependencies
import pandas as pd
import numpy as np

# Code sourced from stackoverflow.com to prevent error in datatype change
pd.options.mode.chained_assignment = None  # default='warn'

In [3]:
# Load file
results_to_load = "Resources/results.csv"

In [17]:
# Read the csv into a dataframe
results = pd.read_csv(results_to_load)
results

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0.0,0.0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4.0,2.0,Friendly,London,England,False
2,1874-03-07,Scotland,England,2.0,1.0,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2.0,2.0,Friendly,London,England,False
4,1876-03-04,Scotland,England,3.0,0.0,Friendly,Glasgow,Scotland,False
...,...,...,...,...,...,...,...,...,...
44055,2022-09-27,Norway,Serbia,0.0,2.0,UEFA Nations League,Oslo,Norway,False
44056,2022-09-27,Sweden,Slovenia,1.0,1.0,UEFA Nations League,Stockholm,Sweden,False
44057,2022-09-27,Kosovo,Cyprus,5.0,1.0,UEFA Nations League,Pristina,Kosovo,False
44058,2022-09-27,Greece,Northern Ireland,3.0,1.0,UEFA Nations League,Athens,Greece,False
44059,2022-09-30,Fiji,Solomon Islands,NaN,NaN,MSG Prime Minister's Cup,Luganville,Vanuatu,True

In [11]:
# Check datatypes 
results.dtypes

date           object
home_team      object
away_team      object
home_score    float64
away_score    float64
tournament     object
city           object
country        object
neutral          bool
dtype: object

In [16]:
# Count number of NaNs in df
count_nan_in_df = results.isnull().sum()
print (count_nan_in_df)

date          0
home_team     0
away_team     0
home_score    1
away_score    1
tournament    0
city          0
country       0
neutral       0
dtype: int64

In [24]:
# drop any rows containing NaNs
clean_results=results.dropna(how='any')

In [30]:
# Change datatype of score columns to display as single figures
clean_results['home_score'] = clean_results['home_score'].astype(int)
clean_results['away_score'] = clean_results['away_score'].astype(int)
clean_results

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False
...,...,...,...,...,...,...,...,...,...
44054,2022-09-27,Albania,Iceland,1,1,UEFA Nations League,Tirana,Albania,False
44055,2022-09-27,Norway,Serbia,0,2,UEFA Nations League,Oslo,Norway,False
44056,2022-09-27,Sweden,Slovenia,1,1,UEFA Nations League,Stockholm,Sweden,False
44057,2022-09-27,Kosovo,Cyprus,5,1,UEFA Nations League,Pristina,Kosovo,False
44058,2022-09-27,Greece,Northern Ireland,3,1,UEFA Nations League,Athens,Greece,False

In [38]:
scotland_results = clean_results.loc[clean_results.home_team == 'Scotland' | clean_results.away_team == 'Scotland']
scotland_results

TypeError: Cannot perform 'ror_' with a dtyped [object] array and scalar of type [bool]